nav {
  background-color: #424242;
  font-family: 'Times New Roman', Times, serif;
}

.logo{
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}